@use "../../styles/index.scss" as *;

.input {
  label {
    font-size: 14px;
    font-weight: 700;
    color: $gray;
    display: block;
    margin-bottom: 10px;
  }
  input {
    width: 95%;
    background: $white;
    border: 1px solid #d8e0f0;
    box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.222055);
    border-radius: 14px;
    color: $gray;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 18px;
    outline: none;
  }
}
