// container width
$large-container: 1200px;
$medium-container: 1010px;

// Dark mode colors
$primary-text: #e0e0e0;
$secondary-text: #bdbdbd;
$light-gray: #333333;

$primary-background: #121212;
$secondary-background: #1e1e1e;
$tertiary-background: #2c2c2c;

$box-border: 1px solid #2c2c2c;
$footer-border: 1px solid rgba(255, 255, 255, 0.1);
$shadow-1: 0px 0.3px 0.9px rgba(255, 255, 255, 0.1), 0px 1.6px 3.6px rgba(255, 255, 255, 0.1);

// // Light mode colors
// // text colors
// $primary-text: #242424;
// $secondary-text: #9e9e9e;
// $light-gray: #e6e6e6;

// // background colors
// $primary-background: #f0f2f5;
// $secondary-background: #ffffff;
// $tertiary-background: #f1f7ff;

// // other colors
// $white: #ffffff;
// $black: #000000;
// $box-border: 1px solid #f7f7f7;
// $shadow-1: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
// $footer-border: 1px solid rgba(0, 0, 0, 0.06);
