$xs: 400px; // for small screen mobile
$sm: 600px; // for mobile screen
$md: 800px; // for tablets
$lg: 1280px; // for laptops
$xl: 1440px; // for desktop / monitors
$xxl: 1920px; // for big screens

@mixin devices($breakpoint) {
  @if $breakpoint == xs {
    @media only screen and (max-width: $xs) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media only screen and (max-width: $sm) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (max-width: $md) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (max-width: $lg) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media only screen and (max-width: $xl) {
      @content;
    }
  }

  @if $breakpoint == xxl {
    @media only screen and (max-width: $xxl) {
      @content;
    }
  }
}
