@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-image: url('../src/assets/images/bg-cover.png');
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#root {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
  .title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
    letter-spacing: 2px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
}
