/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../assets/fonts/poppins-v20-latin-200.woff2') format('woff2'),
    url('../assets/fonts/poppins-v20-latin-200.woff') format('woff');
}
/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../assets/fonts/poppins-v20-latin-300.woff2') format('woff2'),
    url('../assets/fonts/poppins-v20-latin-300.woff') format('woff');
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    url('../assets/fonts/poppins-v20-latin-regular.woff') format('woff');
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/poppins-v20-latin-500.woff2') format('woff2'),
    url('../assets/fonts/poppins-v20-latin-500.woff') format('woff');
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../assets/fonts/poppins-v20-latin-600.woff2') format('woff2'),
    url('../assets/fonts/poppins-v20-latin-600.woff') format('woff');
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/poppins-v20-latin-700.woff2') format('woff2'),
    url('../assets/fonts/poppins-v20-latin-700.woff') format('woff');
}
