// text colors
$primary-text: #242424;
$secondary-text: #9e9e9e;
$light-gray: #e6e6e6;

// background colors
$primary-background: #f0f2f5;
$secondary-background: #ffffff;
$tertiary-background: #f1f7ff;

// other colors
$white: #ffffff;
$black: #000000;
$box-border: 1px solid #f7f7f7;
$shadow-1: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.1);
$footer-border: 1px solid rgba(0, 0, 0, 0.06);

// container width
$large-container: 1200px;
$medium-container: 1010px;
