@use "../../styles/index.scss" as *;
@use "../../styles/breakpoints.scss" as breakpoints;

.task-card {
  background: $white;
  box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.103611);
  border-radius: 24px;
  padding: 22px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  @include breakpoints.devices(sm) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.task-title {
  font-size: 14px;
  font-weight: 400;
  color: $secondary-color;
  margin-bottom: 7px;
}

.task {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: $primary-color;
}

.priority-title {
  font-size: 14px;
  font-weight: 400;
  color: $secondary-color;
  margin-bottom: 7px;
  @include breakpoints.devices(sm) {
    margin-top: 15px;
  }
}

.priority {
  font-size: 14px;
  font-weight: 700;
  color: $success-color;
  text-transform: capitalize;
}
.high-priority {
  color: $error-color;
}
.medium-priority {
  color: $warning-color;
}
.low-priority {
  color: $success-color;
}

.task-status-wrapper {
  width: 100px;
  text-align: center;
  @include breakpoints.devices(sm) {
    margin-top: 15px;
    text-align: left;
  }
}

.status {
  background: rgba(125, 133, 146, 0.14);
  border-radius: 8px;
  padding: 7px 14px;
  color: $gray;
  font-weight: 700;
  font-size: 12px;
  outline: none;
  border: none;
  cursor: pointer;
}

.progress {
  @include breakpoints.devices(sm) {
    margin-top: 15px;
  }
}

.actions {
  @include breakpoints.devices(sm) {
    margin-top: 15px;
  }
}
